#Username > input {
  background-color: rgb(103, 223, 213);
  width: 500px;
  height: 30px;
}

#Password > input {
  background-color: rgb(103, 223, 213);
  width: 500px;
  height: 30px;
}
.login-form {
  display: flex;
  justify-content: center;
}
img {
  display: flex;
  justify-content: center;
}

#table {
  background-color: rgb(216, 190, 190);
  margin-left: 30%;
  margin-right: 30%;
}

input {
  width: 300px;
}

#btn {
  display: flex;
  justify-content: center;
}
